- name: update apt-get 
  apt: update_cache=yes

- name: Install virtualenv 
  apt: name=python-virtualenv state=latest

- name: Installs pip
  apt: name=python-pip state=latest

- name: Install pyramid and pyramid-mako through virtualenv
  easy_install: name={{ item }} virtualenv=/var/sites/stenosaurus/env
  with_items:
    - pyramid
    - pyramid-mako

- name: install python-dev
  apt: name=python-dev

- name: Installs nginx
  apt: name=nginx state=latest

- name: Installs uwsgi
  command: pip install uwsgi